{{> menu}}

<section class="section">
  <div class="columns">
    <div class="column is-two-thirds">
      <h1 class="title">
        {{location.title}}
      </h1>
      <h2 class="subtitle">
        {{location.category}}
      </h2>
      <p>
        {{location.description}}
      </p>
      <div class="box">
        <p><strong>Coordinates:</strong> {{location.latitude}}, {{location.longitude}}</p>
      </div>
      <div class="column">
        <h3 class="title is-4">Upload Cover</h3>
        {{> location-image }}
      </div>
    </div>
    
    <div class="column is-one-third">
      <div class="box">
        <h3 class="title is-4">Share an Image</h3>
        {{> add-image}}
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    {{> list-images}}
  </div>
</section>